.resume {
	color: red;
}

.resume_0 {
	color: purple;
}

/* Display Mode 0 */
@media (max-height: 400) and (orientation: landscape) {
	.page {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 100px;
	}
}