.header {
	width: var(--bodyWidth);
	height: var(--breakerHeight);
	transform: skew(0, var(--skew)) scale(1.1) rotate(var(--rotate)) translateY(-50%);
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	position: fixed;
	top: 2rem;
	text-align: center;
	background-color: var(--colorMain);
	z-index: 3;
	/* overflow: hidden; */
	box-shadow: var(--boxShadow);
	display: flex;
	justify-content: center;
	align-items: center;
}

.span {
	display: inline;
	overflow-wrap: hidden;
	display: var(--hide);
}

.h1 {
	transform: skew(var(--antiSkew), var(--antiSkew)) translateY(0%);
	text-overflow: clip;

}

.subHeader {
	width: var(--bodyWidth);
	height: var(--breakerHeight);
	transform: skew(0, var(--skew)) scaleY(0.9) scaleX(0.97) rotate(var(--rotate)) translateY(20px);
	border-radius: var(--border-radius);
	position: fixed;
	top: 2rem;
	text-align: center;
	z-index: 2;
	overflow: hidden;
	/* box-shadow: var(--boxShadow); */
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.btn {
	width: calc(100%/4);
	height: 70%;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 5px;
	background-color: var(--colorSecond);
	transition: transform 100ms ease-out;
	cursor:pointer;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	user-select: none;
	-webkit-user-drag: none;
	color: var(--textMain);
	font-size: clamp(1rem, 3vw, 2.1rem);
}

.btn:focus {
	background-color: var(--colorSecond);
}

.btn:hover {
	background-color: var(--colorBtnHover);
	transform: translateY(-1px);
}

.btn:active {
	background-color: var(--colorBtnActive);
	transform: translateY(-5px);
}



.headerBackground {
	position: fixed;
	background-color: var(--colorTertiary);
	width: calc(var(--bodyWidth)*1.04);
	height: 160px;
	transform: skew(0, var(--skew)) translateX(calc(var(--paddingOffset)));
	border-radius: var(--border-radius);
	top: 0;
	box-shadow: var(--boxShadow);
	z-index: 1;
}

header {
	width: 100%;
}