.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	z-index: 1;
}

.btn {
	width: 33.3%;
	border-radius: 0 0 15px 15px;
	z-index: 1;
}

.container {
	z-index: 0;
}