/* CSS Variables to ensure consistant colors/styles throughout app*/

:root {
	--colorMain: #4893b6;
	--colorSecond: #88acbd;
	--colorTertiary: #425c68;
	--colorDropShadow: #4e4e4e;
	--textMain: #202020;
	--textInvert: #1a1a1a;
	--bodyBackground: #bbefff;
	--linkColor: #073f00;
	--colorBtnHover: #2a7ca5;
	--colorBtnActive: #537b8f;
	--expandBtnOpened: #073f00;
	--expandBtnClosed: #3f0000;
}

[data-theme="dark"] {
	--colorMain: #091972;
	--colorSecond: #2a3572;
	--colorTertiary: #2a5b72;
	--colorDropShadow: #131313;
	--textMain: #d6d6d6;
	--textInvert: #e0e0e0;
	--bodyBackground: #161b1d;
	--colorBtnHover: #164157;
	--colorBtnActive: #23333b;
	--linkColor: #18ce00;
	--expandBtnOpened: #18ce00;
	--expandBtnClosed: #ce0000;
}

:root {
	--bodyWidth: min(100%, 1000px);
	--sectionWidth: max(100%, 1000px);
	--seperatePadding: 20px;
	--pagePadding: min(2vw, 20px);
	--paddingOffset: calc(-1*(var(--pagePadding)));
	--font-size: clamp(1rem, 2.5vw, 1.75rem);
	--headerFooterOffset: calc(var(--font-size)*2.5);
	--border: 6px solid var(--colorSecond);
	--border-radius: 5px;
	--boxShadow: 3px 10px 10px var(--colorDropShadow);
	--skew: 2deg;
	--antiSkew: calc(var(--skew)*-1);
	--breakerHeight: 6rem;
	--expandHeightSmall: calc(var(--lineHeight)*4.4);
	--expandHeightBig: auto;
	--expandMaxHeight: 4000rem;
	--transitionOut: max-height 1000ms cubic-bezier(.17,1.2,.63,1.0);
	--transitionIn: max-height 2000ms cubic-bezier(.17,1.2,.63,1.0);
}

body {
	line-height: var(--lineHeight);
	color: var(--textMain);
	font-size: var(--font-size);
	overflow-y: var(--overY);
	overflow-x: var(--overX);
	padding-top: 0;
	padding-bottom: var(--headerFooterOffset);
	background-color: var(--bodyBackground);
	text-align: center;
}

h2 {
	text-decoration: underline;
	transform: skew(calc(var(--skew)*-1), calc(var(--skew)*-1)) translateY(25px);
	font-size: 3rem;
	text-shadow: 0 0 10px var(--colorSecond);
}

h3 {
	font-size: clamp(1rem, 5vw, 3rem);
	margin-bottom: 20px;
}

h4 {
	margin-top: 30px;
}

p {
	padding: 10px 0;
	text-align: left;
}

.imageContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-bottom: 20px;
}

.displayImage {
	min-width: 40px;
	max-width: 33%;
	background-color: var(--colorTertiary);
	border-radius: var(--border-radius);
	box-shadow: var(--boxShadow);
	border: 1px solid var(--linkColor);
}

.page {
	width: min(100%, 1000px);
	margin: 0 auto;
	padding-top: calc(var(--breakerHeight)*1.5);
	padding-bottom: 20px;
}

.note {
	display: block;
	text-align: center;
	font-size: 1rem;
	background-color: var(--colorTertiary);
	border-radius: var(--border-radius);
	margin: 10px 0;
	box-shadow: var(--boxShadow);
}

/* Page Size/Orientation specific variables */

/* Side Scroll Mode
 @media(max-height: 399px) and (orientation: landscape) {
	:root {
		--direction: row;
		--overX: scroll;
		--overX: hidden;
		--rotate: 0.25turn;
		--bodyMarginRight: 0;
		--font-size: clamp(1rem, 2.5vw, 1.75rem);
		--hide: none;
		--lineHeight: 2rem;
	}
}  */

/* Mobile Mode */
@media(max-width: 600px) {
	:root {
		--direction: column;
		--overX: hidden;
		--overY: scroll;
		--rotate: 0turn;
		--bodyMarginRight: 0;
		--font-size: clamp(0.5rem, 1rem, 1.5rem);
		--hide: none;
		--lineHeight: 2rem;
	}
}

/* Desktop Mode */
@media(min-width: 450px) {
	:root {
		--direction: column;
		--overX: hidden;
		--overY: scroll;
		--rotate: 0turn;
		--bodyMarginRight: calc(100vw - 100%);
		--font-size: clamp(1rem, 2.5vw, 1.75rem);
		--hide: inherit;
		--lineHeight: 2rem;
	}
}




article {
	background-color: var(--colorSecond);
	border-radius: var(--border-radius);
	/* padding-left: var(--paddingOffset); */
	padding: 10px 20px;
	margin: 10px;
	box-shadow: var(--boxShadow);
	transform: skew(0, var(--antiSkew));
	margin-bottom: 20px;
}

.background {
	background-color: var(--colorTertiary);
	/* width: var(--sectionWidth); */
	height: 100%;
	padding: var(--seperatePadding) 0;
	transform: skew(0, var(--skew));
	border-radius: var(--border-radius);
	box-shadow: var(--boxShadow);
}

.anchor {
	display: block;
	position: relative;
	top: -9rem;
	visibility: hidden;
}

/* way off screen */
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}


a {
	color: var(--linkColor);
	cursor: pointer;
}



/* React Transitions */
.my-node-appear {
	max-height: var(--expandHeightSmall);
	overflow: hidden;
}

.my-node-appear-active {
	max-height: var(--expandHeightSmall);
	overflow: hidden;
}

.my-node-appear-done {
	max-height: var(--expandHeightSmall);
	overflow: hidden;
}

.my-node-exit {
	max-height: var(--expandHeightSmall);
	overflow: hidden;
}

.my-node-exit-active {
	/* height: var(--expandHeightBig); */
	max-height: var(--expandMaxHeight);
	transition: var(--transitionIn);
	overflow: hidden;
}

.my-node-exit-done {
	/* height: var(--expandHeightBig); */
	max-height: var(--expandMaxHeight);
	overflow: hidden;
}

.my-node-enter {
	/* height: var(--expandHeightBig); */
	max-height: var(--expandMaxHeight);
	overflow: hidden;
}

.my-node-enter-active {
	max-height: var(--expandHeightSmall);
	transition: var(--transitionOut);
	overflow: hidden;
}

.my-node-enter-done {
	max-height: var(--expandHeightSmall);
	overflow: hidden;
}