/* CSS Variables to ensure consistant colors/styles throughout app*/
@media(prefers-color-scheme: light) {
	:root {
		--colorMain: #004799;
		--colorSecond: #6b8826;
		--colorTertiary: #3861e9;
		--colorDropShadow: #002a5a;
		--textMain: #000000;
		--textInvert: #ffffff;
		--bodyBackground: #777777;
	}
}

@media(prefers-color-scheme: dark) {
	:root {
		--colorMain: #004799;
		--colorSecond: #6b8826;
		--colorTertiary: #3861e9;
		--colorDropShadow: #002a5a;
		--textMain: #ffffff;
		--textInvert: #000000;
		--bodyBackground: #777777;
	}
}

:root {
	--bodyWidth: min(100%, 1000px);
	--pagePadding: min(2vw, 20px);
	--paddingOffset: calc(-1*(var(--pagePadding)));
	/* --font-size: clamp(1rem, 2.5vw, 1.75rem); */
	--headerFooterOffset: calc(var(--font-size)*2.5);
	--border: 6px solid var(--colorSecond);
	--border-radius: 5px;
	--boxShadow: 0 10px 10px var(--colorDropShadow);
	--skew: 2deg;
	--breakerHeight: 6rem;
}

body {
	width: 100vw;
	height: 100vmax;
	font-size: var(--font-size);
	overflow-y: var(--overY);
	overflow-x: var(--overX);
	margin-right: var(--bodyMarginRight);
	padding-top: 0;
	padding-bottom: var(--headerFooterOffset);
	background-color: var(--bodyBackground);
	text-align: center;
}

.page {
	background-color: var(--colorTertiary);
	width: min(100%, 1000px);
	margin: 0 auto;
	padding: var(--pagePadding);
	padding-top: calc(var(--breakerHeight)*1.5);
	padding-right: calc(var(--pagePadding)*2);
}

/* Page Size/Orientation specific variables */

/* Side Scroll Mode */
 @media(max-height: 399px) and (orientation: landscape) {
	:root {
		--direction: row;
		--overX: scroll;
		--overX: hidden;
		--rotate: 0.25turn;
		--bodyMarginRight: 0;
		--font-size: clamp(1rem, 2.5vw, 1.75rem);
		--hide: none;
	}
} 

/* Mobile Mode */
@media(max-width: 600px) {
	:root {
		--direction: column;
		--overX: hidden;
		--overY: scroll;
		--rotate: 0turn;
		--bodyMarginRight: 0;
		--font-size: clamp(0.5rem, 1rem, 1.5rem);
		--hide: none;
	}
}

/* Desktop Mode */
@media(min-width: 450px) and (min-height: 400px) {
	:root {
		--direction: column;
		--overX: hidden;
		--overY: scroll;
		--rotate: 0turn;
		--bodyMarginRight: calc(100vw - 100%);
		--font-size: clamp(1rem, 2.5vw, 1.75rem);
		--hide: inherit;
	}
}


/* React Transitions */

/* Desktop Mode - Page Change */
/* .page-enter .all {
	transform: translateY(-100vh);
}
.page-enter-active .all {
	transform: translateY(0);
	transition: transform 400ms ease-in;
}
.page-exit .all {
	transform: translateY(0);
}

.page-exit-active .all {
	transform: translateY(-100vh);
	transition: transform 200ms ease-out;
} */




section {
	display: flex;
	flex-direction: var(--direction);
}

article {
	background-color: var(--colorSecond);
	border-radius: var(--border-radius);
	padding: var(--pagePadding);
	margin: 10px;
	box-shadow: var(--boxShadow);
}