body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
	--groundColor: #705d24;
	--groundColorDark: hsl(42, 61%, 19%);
	--grassColor: #509bce;
	--grassColorDark: #3c5e8b;
	--lightGrassColor: #00c900;
	--oceanColor: #a23e8c;
	--oceanColorDark: #852e82;

	--borderRadius: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	image-rendering: pixelated;
	line-height: 1.5rem;
}

a {
	color: hsl(197, 100%, 74%);
}

body {
	background-color: var(--grassColor);
}
