:root {
	--transition: max-height 1000ms cubic-bezier(.17,1.2,.63,1.0);
	--transitionPage: transform 3000ms cubic-bezier(0,1,.84,1.1);
	--expandSmall: calc(var(--lineHeight)*5);

	--aboutMax: 0;
	--qualificationsMax: 0;
	--workMax: 0;
	--schoolMax: 0;
	--hexMax: 0;
	--foodMax: 0;
	--siteMax: 0;
}

/* React Transitions */
.PageLoad-appear {transform: translateY(-300%)}
.PageLoad-appear-active {transform: translateY(0);transition: var(--transitionPage);}

.about-exit {max-height: var(--expandSmall);}
.about-exit-active {max-height: var(--aboutMax);transition: var(--transition);}
.about-exit-done {max-height: var(--aboutMax);}
.about-enter {max-height: var(--aboutMax);}
.about-enter-active {max-height: var(--expandSmall);transition: var(--transition);}
.about-enter-done {max-height: var(--expandSmall);}

.qualifications-exit {max-height: var(--expandSmall);}
.qualifications-exit-active {max-height: var(--qualificationsMax);transition: var(--transition);}
.qualifications-exit-done {max-height: var(--qualificationsMax);}
.qualifications-enter {max-height: var(--qualificationsMax);}
.qualifications-enter-active {max-height: var(--expandSmall);transition: var(--transition);}
.qualifications-enter-done {max-height: var(--expandSmall);}

.work-exit {max-height: var(--expandSmall);}
.work-exit-active {max-height: var(--workMax);transition: var(--transition);}
.work-exit-done {max-height: var(--workMax);}
.work-enter {max-height: var(--workMax);}
.work-enter-active {max-height: var(--expandSmall);transition: var(--transition);}
.work-enter-done {max-height: var(--expandSmall);}

.school-exit {max-height: var(--expandSmall);}
.school-exit-active {max-height: var(--schoolMax);transition: var(--transition);}
.school-exit-done {max-height: var(--schoolMax);}
.school-enter {max-height: var(--schoolMax);}
.school-enter-active {max-height: var(--expandSmall);transition: var(--transition);}
.school-enter-done {max-height: var(--expandSmall);}

.hex-exit {max-height: var(--expandSmall);}
.hex-exit-active {max-height: var(--hexMax);transition: var(--transition);}
.hex-exit-done {max-height: var(--hexMax);}
.hex-enter {max-height: var(--hexMax);}
.hex-enter-active {max-height: var(--expandSmall);transition: var(--transition);}
.hex-enter-done {max-height: var(--expandSmall);}

.food-exit {max-height: var(--expandSmall);}
.food-exit-active {max-height: var(--foodMax);transition: var(--transition);}
.food-exit-done {max-height: var(--foodMax);}
.food-enter {max-height: var(--foodMax);}
.food-enter-active {max-height: var(--expandSmall);transition: var(--transition);}
.food-enter-done {max-height: var(--expandSmall);}

.site-exit {max-height: var(--expandSmall);}
.site-exit-active {max-height: var(--siteMax);transition: var(--transition);}
.site-exit-done {max-height: var(--siteMax);}
.site-enter {max-height: var(--siteMax);}
.site-enter-active {max-height: var(--expandSmall);transition: var(--transition);}
.site-enter-done {max-height: var(--expandSmall);}