.imageBorder {
	border: 64px solid transparent;
	border-image: url(../../../public/images/PixelArt/FlowerBed.png) 64 fill;
}

.image {
	box-sizing: border-box;
	image-rendering: auto;

	/* aspect-ratio: 1; */
	width: clamp(50px, 100%, 250px);
	/* border-radius: var(--borderRadius); */
	border: 3px solid #3c5e8b;
}
